body
{
    background-color: rgb(235, 223, 223)
}
.navbar
{
    background-color: rgb(205, 205, 216)
}
ul
{
    background-color: antiquewhite 
}
.page
{
     margin: 25px;
}
h1{
    color: brown;
}
p{
    color: rgb(61, 10, 61)
}